---
layout: app.html
---
<div class="row">
  <div class="col-md-2 sidebar">

    <a href="/" class="logo">
      <img src="images/logo-mono.png">
    </a>

    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="#/chestionar/1">Home</a>
      </li>
      <li>
        <a href="#/intrebari">Toate <span class="label label-default">\{{top.model.questions.all.length}}</span></a>
      </li>
      <!-- <li>
        <a href="">Parcurse <span class="label label-default">\{{top.model.current}}</span></a>
      </li> -->
      <li>
        <a href="#/intrebari?tags=corect">Corecte:
          <span class="label label-success">\{{top.model.questions.correct.length}}</span>
        </a>
      </li>
      <li>
        <a href="#/intrebari?tags=incorect">Incorecte:
          <span class="label label-danger">\{{top.model.questions.incorrect.length}}</span>
        </a>
      </li>
      <li>
        <a href="#/intrebari/marcate">Marcate:
          <span class="label label-warning">\{{top.model.questions.starred.length}}</span>
        </a>
      </li>
      <li>
        <a href="#/chestionar/\{{top.model.questions.current}}">Ai ramas la intrebarea
          <span class="label label-warning">\{{top.model.questions.current}}</span>
        </a>
      </li>
      <li>
        <a href="#/legislatie-rutiera">Legislatia Rutiera</a>
      </li>
    </ul>

    <h2 class="nav-title">Filtre</h2>

    <ul class="nav nav-pills nav-stacked filters">

      <li ng-repeat="tag in tags">

        <a href="" ng-class="{true: 'selected', false: ''}[top.model.label.indexOf(tag) > 0]" ng-click="SetLabel(tag)">
          \{{tag}}
        </a>

      </li>
    </ul>
  </div>

  <div ng-view class="app-content col-md-10"></div>
</div>

